In [17]:
# fun to read CSV data

filepath = "DataFiles/Income.csv"

import pandas as pd

def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [65]:
incomedf=pd.read_csv(filepath)
incomedf.loc[[4,2,3,1]]
incomedf.values[1][0]

'04000US02'

In [55]:
def getColumnIndex(df, columnkey):
    for i in range(len(df.columns)):
        if df.columns[i] == columnkey:
            columnindex = i
    return columnindex
#getColumnIndex(incomedf,'2009')

6

In [110]:
# 1 Average Income of all states from 2005 to 2013
def AverageIncomeofAllStates(df):
    c = 0
    s = 0
    for i in range(len(df.values)):
        for j in range(2,len(df.columns)):
            s += df.values[i][j]
            c += 1
        print(df.values[i][1],s//c)
AverageIncomeofAllStates(incomedf)

Alabama 41126
Alaska 50616
Arizona 50066
Arkansas 47257
California 48876

In [93]:
# 2 State with highest average income in the last three years
def SatateWithHighestAverageIncome(df,lb,ub):
    c = 0
    s = 0
    state = []
    avg = []
    for i in range(0,len(df.values)):
        for j in range(lb,ub+1):
            s += df.values[i][j]
            c += 1
        #print(df.values[i][1],s//c)
        state.append(df.values[i][1]),avg.append(s//c)
    print(state[avg.index(max(avg))],max(avg))
SatateWithAverageIncome(incomedf,getColumnIndex(incomedf,'2011'),getColumnIndex(incomedf,'2013'))

Alaska 51608

In [96]:
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [109]:
# State with lowest average income from 2007 to 2010(inclusive)

def SatateWithLowestAverageIncome(df,syear,eyear):
    lb = getColumnIndex(df,syear)
    ub = getColumnIndex(df,eyear)
    s,c = 0,0
    state = []
    avg = []
    for i in range(len(df.values)):
        for j in range(lb,ub+1):
            s += df.values[i][j]
            c += 1
        state.append(df.values[i][1]),avg.append(s//c)
    print(state[avg.index(min(avg))],min(avg))
            
SatateWithLowestAverageIncome(df,'2007',"2010")

Alabama 41900

In [114]:
# Print the list of all states in the same line with average income less than California

def listofAverageIncomeofAllStates(df):
    c = 0
    s = 0
    d ={}
    for i in range(len(df.values)):
        for j in range(2,len(df.columns)):
            s += df.values[i][j]
            c += 1
        d[df.values[i][1]] = s//c
    print(d)
listofAverageIncomeofAllStates(incomedf)

{'Alabama': 41126, 'Alaska': 50616, 'Arizona': 50066, 'Arkansas': 47257, 'California': 48876}

# My Practice

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("DataFiles\Income.csv")
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [9]:
df.index=df["State"]
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,,
Alabama,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [10]:
# 1 Combined Average Income of all states from 2005 to 2013
df.mean(axis=1)

State
Alabama       41126.444444
Alaska        60106.555556
Arizona       48967.888889
Arkansas      38828.888889
California    55350.444444
dtype: float64

In [60]:
# 2 State with highest average income in the last three years
df.iloc[:,-3:].mean(axis = 1).idxmax()

'Alaska'

In [58]:
# 3 State with lowest average income from 2007 to 2010(inclusive)
df.iloc[:,4:8].mean(axis = 1).idxmin()

'Arkansas'

In [92]:
# 4 Print the list of all states in the same line with average income less than California
California = df.iloc[4:,:].mean(axis=1)
California = California[0]
California
list(df[df.iloc[:5,2:].mean(axis = 1)< California].index)

['Alabama', 'Arizona', 'Arkansas']

In [97]:
# 5 Print the names of states based on descending order of income in the year 2009
list(df['2009'].sort_values(ascending = False).index)

['Alaska', 'California', 'Arizona', 'Alabama', 'Arkansas']

In [103]:
# 6 State with the lowest recorded income from 2005 to 2013
df.iloc[:,2:].idxmin()

2005    Arkansas
2006    Arkansas
2007    Arkansas
2008    Arkansas
2009    Arkansas
2010    Arkansas
2011    Arkansas
2012    Arkansas
2013    Arkansas
dtype: object

In [101]:
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,,
Alabama,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528