### **Notebook Basics**

# 11-june-2019
[Facebook](https://facebook.com/)
<b> i am bold</b>
** bold **
1. i am normal
     * sublist 1 
     * sublist 2
2. 2nd line


* un ordered




- [ ] option 1
- [ ] option 2
- [X] option 3


![download.png](download.png)


<img src="download.png" align="left">



This is [an example][id] reference-style link [exmple 2][id2]


[id]: http://example.com/  "Optional Title Here"
[id2]:https://sites.google.com/view/ao0717907-level2-june-2019/worklog/  "my web page"

### **python basics**
python version 3.7
- scripthing 
- Object oriented 
-

In [ ]:
# python  Comments
print("good Afternoon ")# basic output
print("Hello Python","word",sep="@")

### Assignment

In [ ]:
n1=123456
n2=n3=n4=n1 #Multi variable 
#Multi variable assignmet with different value
a,b,c=1,3,44
c

### Data Types
- int 
- float
- string

In [9]:
s1="python"
type(s1)

f1= 89.6
f2=int(f1)
s2=str(int(f1))
type(s2)
f1

89.6

### Arithmetic operations
- +
- -
- * 
- /
- %
- **
- //

In [ ]:
n1 % 11
n3=n2 ** 125678

type(n3)
len(str(n3))
n3

In [2]:
atoms =10 ** 82
len(str(atoms))

83

### Conditionals

In [4]:
atoms < 10 ** 99

True

In [12]:
if atoms < 10**96:
    print("True")

True

In [13]:
if atoms < 10**6:
    print("True")
else:
    print("false")

false

In [53]:
#find the gretest of 3 numbers
n1=int(input("enter the 1st value"))
n2=int(input("enter the 1st value"))
n3=int(input("enter the 1st value"))
if n1 > n2 and n1 >n3:
    print(n1,"is the greatest")
elif n2 > n3:
    print(n2,"is the greatest")
else:
     print(n3,"is the greatest")

enter the 1st value-1
enter the 1st value-100
enter the 1st value-50
-1 is the greatest

In [67]:
#check for leap year
year=int(input())
if year%400==0 or (year%4==0 and year%100!=0):
    print("leap year")
else:
    print("not a leap year")

1234
not a leap year

In [68]:
#check if a number exists in given range
n1=int(input("1st value"))
lb=int(input("2nd value"))
ub=int(input("3rd value"))
if n1 >=lb and n1 <=ub:
    print("exists")
else:
    print("not exists")

1st value78
2nd value1
3rd value100
exists

In [56]:
#cal the number of digits in a number
n=input()
len(n)

1284729

7

In [69]:
#check if a number is a multiple of 10
num=int(input())
if num%10==0:
    print(num,"is multiple of 10")
else:
    print("not a multiple")

67
not a multiple

In [60]:
#check if a number is a factor of 1000
num=int(input())
if 1000%num==0:
    print(num,"is factor of 1000")
else:
    print(num,"is not a factor of 1000")

50
50 is factor of 1000

In [73]:
#check if given string is equal to a numberb
s1="125"
n1=12345
if str(n1)==s1:
    print(n1,"is a equal to",s1)
else:
    print(n1,"is a not equal to",s1)

12345 is a not equal to 125

In [72]:
#cal the sqrt of a number without function
n=25
n**0.5

5.0

In [74]:
#cal the num of nano seconds in a given year inclue leap year logic
#given year (consider leap year logic)
year=1234
if year%400==0 or (year%100!=0 and year%4==0):
    print(366*24*3600000000000)
else:
    print(365*24*60*60*1000000000)

31536000000000000